.about {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 100px;
    color: white;
    height: 80vh;

    border: black 3px solid;
    width: 90%;
    margin: 50px auto;
    border-radius: 25px;
    text-align: center;
}
