body {
  background-color: rgb(26, 26, 26);
  color: white;
}

.App {
  border: 3px solid red;
  text-align: center;
  font-size: 50px;
}


/* h2 {
  border: 3px solid red;
  text-align: center;
  font-size: 150px;
} */


.wrap {
  border: 3px solid red;
  display: flex;
  justify-content: center;

}

.logo {
  top: 0;
  /* transform: scale(0.5); */
  height: 550px;
}



